####################################################################
# WhiteSource FS-Agent configuration file
####################################################################
##########################################
# GENERAL SCAN MODE: Files and Package Managers
##########################################
checkPolicies=true
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false

wss.url=https://saas.whitesourcesoftware.com/agent

##################################
# Organization tokens:
##################################
projectName=Splunk-Cloud-SDK-JavaScript

#########################################################################################
# Includes/Excludes Glob patterns - PLEASE USE ONLY ONE EXCLUDE LINE AND ONE INCLUDE LINE
#########################################################################################
includes=**/*.ts **/*.js **/*.json

case.sensitive.glob=false
followSymbolicLinks=true

##################################
# NPM SPECIFIC CONFIGURATIONS
##################################
#npm.ignoreJavaScriptFiles=false
npm.resolveDependencies=true
npm.includeDevDependencies=true
#npm.runPreStep=true
#npm.ignoreNpmLsErrors=true
#npm.ignoreScripts=true
npm.yarnProject=true