src/*.js*
src/*.template
CODEOWNERS
codeship*
env
ci/
docs/
test/
*.iml
.idea/
.vscode/
coverage/
.nyc_output/
.prettierrc
.editorconfig
tmp/
jsdoc.json
.eslintrc.*
.npmpignore
.babelrc
examples/
CONTRIBUTING.md
docs.manifest.json
okta
copyright.txt
yarn-error.log
tslint.json
tsconfig.json
tsconfig.test.json

# Hide compiled test folders, these appear to be webstorm generated
/integration
/unit

