src/*.js*
src/generated/**/.js*
src/*.template
CODEOWNERS
codeship*
env
ci/
cd/
docs/
test/
okta/
build/
common/
package/
*.iml
*.tgz
.idea/
.vscode/
coverage/
.nyc_output/
.prettierrc
.editorconfig
tmp/
jsdoc.json
.eslintrc.*
.npmpignore
.babelrc
examples/
CONTRIBUTING.md
docs.manifest.json
.token
copyright.txt
yarn-error.log
tslint.json
tsconfig.json
tsconfig.test.json
.gitlab-ci.yml
.npmrc
/sonar-project.properties
coverage-integration/
coverage-integration-ml/

# Hide compiled test folders, these appear to be webstorm generated
/integration
/unit

