src/*.js*
src/*.template
CODEOWNERS
codeship*
env
ci/
docs/
test/
*.iml
.idea/
.vscode/
.prettierrc
.editorconfig
tmp/
jsdoc.json
.eslintrc.*
.npmpignore
.babelrc
examples/
CONTRIBUTING.md
docs.manifest.json
okta
copyright.txt
yarn-error.log
tslint.json
tsconfig.json
